<li>
    <p>
        <!-- deleting comments with authorization -->
<!-- delete button is visible to the user who has signed in and only the comment creator can delete the comment -->
        <% if (locals.user && locals.user.id == comment.user.id) { %>

                <!-- creating delete button for comments -->
                <small>
                        <a href="/comments/destroy/<%= comment.id %>">X</a>
                </small>
        <% } %>

        <%= comment.content %>
        <br>
        <small>
                <%= comment.user.name %>
        </small>
   </p>
</li>