<link rel="stylesheet" href="/css/user_profile.css">

        <h1>Facebook / Profile page</h1>
        
<!-- for showing below data on the profile page of the signed-in user -->
      <p><%= profile_user.name %>
      <p><%= profile_user.email %></p> 