.header {
  width: 97%;
  height: 40px;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  font-size: 1.7rem;
  background-color: #791ed3; }

a {
  color: #7f0a47;
  text-decoration: none; }

a:hover {
  color: hotpink; }

li {
  list-style-type: none; }
